.app-column-service, .app-column-worker, .app-column-status{
width:15%;
}
.app-column-date{
width:25% !important;
}
.app-column-app_ID, .app-column-subscription{
width:5%;
}
.app-column-delete{
width:4%;
}
th.app-column-delete{
padding:5px 0 0 0 !important;
}
td.app-column-delete{
padding:5px 0 0 7px !important;
}

.app-check-column input[type="checkbox"]{
margin-left:8px;
}

a.pickcolor {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin: 0 7px 0 3px;
	padding: 4px 14px;
}


.app-add_break span {
	display: none;
}
.app-add_break:after {
	content: "+";
	font-size: 24px;
	font-weight: bold;
}
a.app-remove_break, a.app-remove_break:hover, a.app-remove_break:active { color: #C33; }
.app-remove_break:after {
	content: " x";
}

.app-addon-requires {
	font-style: italic;
	color: #633;
}
.app-beta-version {
	color: #c33;
}
.app_deactivate_plugin {
	color: #933;
}
.app_activate_plugin.app-beta {
	opacity: .5;
}

.app-has_explanation {
	border-bottom: 1px dotted #aaa;
}

.app-postbox_container {
	width: 49%;
	margin-right: .5%;
}

.wp-admin .app-info_trigger {
	margin-left: 1em;
	background: url(../images/information.png) top left no-repeat;
	padding-left: 18px;
}
.wp-admin .app-info_target {
	display: none;
}


#dashboard_right_now a.app-pending:before,
#dashboard_right_now a.app-active:before {
	content: '\f469';
}

#dashboard_right_now a.app-active:before {
	color: #56b086;
}
#dashboard_right_now a.app-pending:before {
	color: #ffa26d;
}

.app-notice .app-dismiss {
	color: #dc3232;
	text-decoration: none;
	float:right;
}
.app-notice .app-dismiss:hover {
	color:red;
}

.app-notice .dashicons-dismiss {
	font-size: 18px;
}

div.appointments-settings .subsubsub a:focus {
	outline:none;
}
.app-settings-section {
	display:none;
}
.app-settings-section.current {
	display:block;
}