.app-column-service, .app-column-worker, .app-column-status{
width:15%;
}
.app-column-date{
width:25% !important;
}
.app-column-app_ID, .app-column-subscription{
width:5%;
}
.app-column-delete{
width:4%;
}
th.app-column-delete{
padding:5px 0 0 0 !important;
}
td.app-column-delete{
padding:5px 0 0 7px !important;
}

.app-check-column input[type="checkbox"]{
margin-left:8px;
}

a.pickcolor {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin: 0 7px 0 3px;
	padding: 4px 14px;
}
li.toplevel_page_appointments div.wp-menu-image{
background: url(../images/menu_icon.png) no-repeat top;
}
li.toplevel_page_appointments:hover div.wp-menu-image, li.toplevel_page_appointments.wp-has-current-submenu div.wp-menu-image {
background-position: top;
}

.app-add_break span {
	display: none;
}
.app-add_break:after {
	content: "+";
	font-size: 24px;
	font-weight: bold;
}
a.app-remove_break, a.app-remove_break:hover, a.app-remove_break:active { color: #C33; }
.app-remove_break:after {
	content: " x";
}

.app-addon-requires {
	font-style: italic;
	color: #633;
}
.app-beta-version {
	color: #c33;
}
.app_deactivate_plugin {
	color: #933;
}
.app_activate_plugin.app-beta {
	opacity: .5;
}

.app-has_explanation {
	border-bottom: 1px dotted #aaa;
}

.app-postbox_container {
	width: 49%;
	margin-right: .5%;
}